{% extends 'base.html' %}

{% block title %}Contactez-nous{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">

<div class="contact-page">
    <h1>Contactez-nous</h1>

    <form method="post">
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required>

        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message :</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <button type="submit">Envoyer</button>
    </form>

    <a href="{{ url_for('main.home') }}">Retour à l'accueil</a>
</div>
{% endblock %}
