{% extends 'base.html' %}

{% block title %}Se connecter{% endblock %}

{% block content %}
    <main>
        <h1>Se connecter</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>

        <br>
        <a href="{{ url_for('main.register') }}">Pas de compte ? Inscrivez-vous</a>
    </main>
{% endblock %}
