{% extends 'base.html' %}

{% block title %}S'inscrire{% endblock %}

{% block content %}
<main class="page-wrapper">
    <h1 class="page-title">S'inscrire</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

    <form method="POST" class="form-box">
        <input type="text" name="prenom" placeholder="Prénom" required class="input-field">
        <input type="email" name="email" placeholder="Email" required class="input-field">
        <input type="password" name="password" placeholder="Mot de passe" required class="input-field">
        <button type="submit" class="btn-incrire">S'inscrire</button>
    </form>

    <a href="{{ url_for('main.login') }}" class="link-secondary">Déjà un compte ? Connectez-vous</a>
</main>
{% endblock %}
